<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>SIGNUP</title>

</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container mt-4" >
    <form action="login" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <% if (logTried) { %>
      <div style="color: red;font-weight: bold;">**Enter valid credentials**</div>
  <% } %>
  <div
    class="cf-turnstile"
    data-sitekey="<%= process.env.site_key %>">
    </div>
  <div class="d-flex align-items-center gap-3">

    <button type="submit" class="btn btn-primary">
        Submit
    </button>

    <span>
        new User?
        <a href="/signup">signup</a>
    </span>

  </div>
</form>
</div>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js"
    async
    defer>
    </script>
    <%- include('partials/scripts.ejs') %>
</body>
</html>